
# Sentinel

{% include 'redis-common.conf.j2' %}

port {{ redis_sentinel_port }}

pidfile {{ redis_install_dir }}/redis_{{ redis_instance_port }}/run/redis.pid

logfile {{ redis_install_dir }}/redis_{{ redis_sentinel_port }}/log/redis.log

dir {{ redis_install_dir }}/redis_{{ redis_sentinel_port }}/data/

sentinel monitor mymaster {{ groups['redis_sentinel_master'][0] }} {{ redis_instance_port }} {{ (groups["redis_sentinel"] | length / 2) | round | int }}

sentinel auth-pass mymaster {{ password }} 

sentinel down-after-milliseconds mymaster 5000

sentinel failover-timeout mymaster 60000

sentinel parallel-syncs mymaster 1
